version: '3'
services:
  nginx:
    image: doug260188/ubuntu:latest
    restart: always
    ports:
      - 8082:80
    volumes: 
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./html:/usr/share/nginx/html
